*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "CerebriSans", sans-serif;
  line-height: 1.74; }

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto; }

.grid {
  display: grid;
  gap: 9.6rem; }

.grid--1-cols {
  grid-template-columns: repeat(1, 1fr); }

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr); }

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr); }

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr); }

.grid--nav-cols {
  grid-template-columns: 40% 1fr;
  gap: 0rem;
  align-items: center;
  justify-content: center; }

.header {
  height: 63px;
  padding: 0 4rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1); }
  .header__logo {
    width: 220px; }

.main-nav__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  height: auto;
  padding: 0 1.5rem; }

.main-nav__link:link, .main-nav__link:visited {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: #000;
  padding: 1.9rem 0.7rem; }

.hero {
  background: -webkit-linear-gradient(top, #fff 0, #f5f5f5 100%);
  height: 100vh; }
  .hero__title-section {
    width: 100%;
    text-align: center;
    margin-top: 20rem; }
    .hero__title-section h4 {
      font-size: 2rem;
      color: #ababab;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      margin-bottom: 2rem; }
    .hero__title-section h2 {
      font-size: 4.8rem;
      margin-bottom: 3rem; }
    .hero__title-section .btn {
      font-size: 1.8rem;
      font-weight: 600;
      border-radius: 0.5rem;
      letter-spacing: 0em;
      padding: 0 3rem;
      background-image: linear-gradient(to right bottom, #ff70a5, #ffc76e);
      border: none;
      color: #fff;
      text-align: center;
      height: 5.4rem;
      line-height: 5.4rem; }

.feature {
  width: 90%;
  height: 500px;
  gap: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center; }
  .feature__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 23rem;
    margin: 0 auto; }
    .feature__container img {
      margin-bottom: 2rem; }
    .feature__container h6 {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.25;
      margin-bottom: 1.2rem;
      text-align: center; }
    .feature__container p {
      font-size: 1.5rem;
      color: #696969;
      text-align: center; }

.product {
  height: 800px;
  background-color: #f8f8f8; }
  .product__heading--container {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    margin-bottom: 5rem; }
    .product__heading--container h6 {
      font-size: 2rem;
      letter-spacing: 0.3rem;
      line-height: 1.45;
      text-transform: uppercase;
      margin-bottom: 2rem;
      color: #ababab; }
    .product__heading--container h3 {
      font-size: 2.8rem; }
  .product__container--nested {
    gap: 0 2rem;
    height: 40rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
    .product__container--nested img {
      border-radius: 0.5rem;
      width: 90%;
      margin: 0 auto;
      grid-row: 1/2; }
    .product__container--nested p {
      width: 90%;
      margin: 0 auto;
      font-size: 1.5rem;
      color: #7e7e7e;
      text-align: center; }
