*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "CerebriSans", sans-serif;
  line-height: 1.74; }

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto; }

.grid {
  display: grid; }

.grid--1-cols {
  grid-template-columns: repeat(1, 1fr); }

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr); }

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr); }

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr); }

.contact__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
  margin: 0 auto;
  padding: 6rem 0;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 750px) and (max-width: 4000px) {
    .contact__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; } }

.contact__title {
  text-align: left;
  padding: 0 1.5rem;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 750px) and (max-width: 4000px) {
    .contact__title {
      width: 50%;
      margin-bottom: 0; } }
  .contact__title h4 {
    position: relative;
    line-height: 1.4;
    font-size: 2.4rem;
    font-weight: 600;
    padding-left: 3.4rem; }
    @media only screen and (min-width: 750px) and (max-width: 900px) {
      .contact__title h4 {
        font-size: 2.8rem; } }
    @media only screen and (min-width: 900px) and (max-width: 4000px) {
      .contact__title h4 {
        font-size: 3rem; } }
  .contact__title h4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 4px;
    height: 94%;
    transform: translateY(-50%);
    background-color: #d2a98e; }

.contact__bg-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #eff2f6;
  background-image: url(../images/bg/home-infotechno-contact-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.contact__info {
  text-align: center;
  padding: 0 1.5rem; }
  @media only screen and (min-width: 750px) and (max-width: 4000px) {
    .contact__info {
      display: flex;
      justify-content: flex-end;
      width: 50%; } }
  .contact__info-icons {
    font-size: 4rem;
    color: #086ad8; }
  .contact__info h6 {
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0; }
  .contact__info-btn {
    background-color: #c95546;
    padding: 1rem 3rem;
    width: 155px;
    margin: 0 auto;
    border-radius: 0.5rem;
    font-weight: 600;
    margin-top: 2rem; }
    .contact__info-btn a {
      font-size: 1.8rem;
      color: #fff;
      text-decoration: none; }

.contact__num {
  color: #002fa6;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative; }
  .contact__num::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #086ad8;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .contact__num:hover:after {
    left: 0;
    width: 100%;
    right: auto; }
