$color-grey-light: #e0e0e0;
$color-grey: #ababab;
$color-grey-2: #696969;
$color-brown: #be210b;
$color-brown-shade: #c95546;
$color-brown-light: #d2a98e;
$color-grey-dark: #333333;
$color-black: #000;
$color-red: #ff0000;
$color-blue: #086ad8;
$color-blue-dark: #002fa6;

// #007bff
// #086AD8
// #002fa6

/////////////// breakpoints /////////////////

// Extra small	xs	small to large handset	< 600px
// Small	sm	small to medium tablet	600px > < 960px
// Medium	md	large tablet to laptop	960px > < 1264px*
// Large	lg	desktop	1264px* > < 1904px*
// Extra large	xl	4k and ultra-wides	> 1904px*

$xs: 600px;
$sm: 960px;
$md: 1264px;
$lg: 1904px;
// $xl: 600px;
