///////////////////////////////
//****** navigation *******//
///////////////////////////////

// .grid--nav-cols {
//   grid-template-columns: 40% 1fr;
//   gap: 0rem;
//   align-items: center;
//   justify-content: center;
// }

// .header {
//   height: 63px;
//   padding: 0 4rem;
//   box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);

//   &__logo {
//     width: 220px;
//   }
// }

// .main-nav {
//   &__list {
//     list-style: none;
//     display: flex;
//     justify-content: flex-end;
//     gap: 2rem;
//     height: auto;
//     padding: 0 1.5rem;
//   }

//   &__link:link,
//   &__link:visited {
//     text-decoration: none;
//     font-weight: 500;
//     font-size: 1.8rem;
//     color: #000;
//     padding: 1.9rem 0.7rem;
//   }
// }

///////////////////////////////
//****** hero section *******//
///////////////////////////////

// .hero {
//   background: -webkit-linear-gradient(top, #fff 0, #f5f5f5 100%);
//   height: 100vh;

//   &__title-section {
//     width: 100%;
//     text-align: center;
//     margin-top: 20rem;

//     h4 {
//       font-size: 2rem;
//       color: $color-grey;
//       text-transform: uppercase;
//       letter-spacing: 0.2rem;
//       margin-bottom: 2rem;
//     }

//     h2 {
//       font-size: 4.8rem;
//       margin-bottom: 3rem;
//     }

//     .btn {
//       font-size: 1.8rem;
//       font-weight: 600;
//       border-radius: 0.5rem;
//       letter-spacing: 0em;
//       padding: 0 3rem;
//       background-image: linear-gradient(to right bottom, #ff70a5, #ffc76e);
//       border: none;
//       color: #fff;
//       text-align: center;
//       height: 5.4rem;
//       line-height: 5.4rem;
//     }
//   }
// }

///////////////////////////////
//****** feature section *******//
///////////////////////////////

// .feature {
//   max-width: 1200px;
//   width: 100%;
//   height: 100%;
//   padding: 6rem 0;
//   margin: 0 auto;

//   @media only screen and (max-width: 750px) {
//     row-gap: 4rem;
//     grid-template-columns: none;
//     grid-template-rows: repeat(4, 1fr);
//   }

//   @media only screen and (min-width: 750px) and (max-width: 1000px) {
//     row-gap: 3rem;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(2, 1fr);
//   }

//   @media only screen and (min-width: 1000px) and (max-width: 2560px) {
//     // margin: 0 2rem;
//     width: 90%;
//     column-gap: 4rem;
//   }

//   &__container {
//     display: flex;
//     flex-direction: column;
//     border-radius: 5px;
//     margin: 0 auto;
//     box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0);
//     transform: translateY(0);
//     transition: transform 0.7s ease-in, box-shadow 0.7s ease-in;

//     @media only screen and (max-width: 750px) {
//       justify-content: center;
//       align-items: center;
//       width: 80%;
//     }

//     @media only screen and (min-width: 750px) and (max-width: 1000px) {
//       align-items: center;
//       width: 80%;
//     }

//     &:hover {
//       padding: 0rem;
//       box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
//       transform: translateY(-8px);
//       transition: all 0.7s ease-in;
//     }

//     img {
//       width: 12%;
//       margin: 0 auto;
//       padding-top: 2rem;
//       margin-bottom: 2rem;
//     }

//     &__text {
//       width: 100%;
//       text-align: center;

//       @media only screen and (max-width: 1000px) {
//         width: 80%;
//       }
//     }

//     h6 {
//       font-size: 1.8rem;
//       font-weight: 600;
//       line-height: 1.25;
//       margin-bottom: 1.2rem;
//       text-align: center;
//     }

//     p {
//       font-size: 1.5rem;
//       color: $color-grey-2;
//       text-align: center;
//       padding: 0 2.5rem 2rem 2.5rem;
//       line-height: 2;

//       @media only screen and (min-width: 1000px) and (max-width: 2560px) {
//         padding: 2rem;
//       }
//     }
//   }
// }

///////////////////////////////
//****** Product section *******//
///////////////////////////////

// .product {
//   height: 800px;
//   background-color: #f8f8f8;

//   &__heading--container {
//     margin: 0 auto;
//     width: 60%;
//     text-align: center;
//     margin-bottom: 5rem;

//     h6 {
//       font-size: 2rem;
//       letter-spacing: 0.3rem;
//       line-height: 1.45;
//       text-transform: uppercase;
//       margin-bottom: 2rem;
//       color: $color-grey;
//     }

//     h3 {
//       font-size: 4rem;
//       line-height: 1.4;
//     }
//   }

//   &__container--nested {
//     gap: 0 2rem;
//     height: 40rem;
//     width: 80%;
//     justify-content: center;
//     align-items: center;
//     margin: 0 auto;

//     img {
//       border-radius: 0.5rem;
//       width: 90%;
//       margin: 0 auto;
//       grid-row: 1/2;
//       // margin-right: 2rem;
//     }

//     p {
//       width: 90%;
//       margin: 0 auto;
//       font-size: 1.5rem;
//       color: #7e7e7e;
//       text-align: center;
//     }
//   }
// }

////////////////////////////////////////////////
///////********** MOBILE APP SECTION *********//////
/////////////////////////////////////////////////

.mobile {
  &__container {
    padding: 4rem 0;
  }

  &__text-container {
    text-align: center;
    padding: 0 1.5rem;
    margin-bottom: 3rem;

    p {
      font-size: 1.5rem;
      line-height: 1.74;
      color: $color-grey-2;
    }
  }

  &__text {
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 1.3;
  }
}

.timeline-area {
  padding: 3.2rem 1.5rem;

  &__container {
    margin-left: 1.5rem;
    border-left: 2px solid rgba($color-blue, 0.15);

    @media only screen and (min-width: 750px) and (max-width: 4000px) {
      position: absolute;
      left: 50%;
      margin-left: 0;
    }
  }

  &__charge-spots,
  &__time-slot,
  &__navigation {
    text-align: left;
    padding-left: 4.5rem;
    margin-bottom: 5rem;
    position: relative;

    @media only screen and (min-width: 750px) and (max-width: 4000px) {
    }

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      top: 10%;
      left: -3%;
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      border: 3px solid $color-blue;
      box-shadow: 0 0 0 8px #fff, 0 0 0 10px rgba($color-blue, 0.15);

      @media only screen and (min-width: 380px) and (max-width: 750px) {
        left: -2.4%;
      }
    }

    // &::before {
    //   content: "";
    //   width: 25px;
    //   height: 25px;
    //   top: 8.3%;
    //   left: -5.6%;
    //   border: 1px solid rgba($color-blue, 0.15);
    //   border-radius: 50%;
    //   position: absolute;
    // }
  }

  &__heading {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 3rem;
    color: $color-blue;
  }

  &__heading-sub {
    padding-top: 3rem;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    line-height: 1.3;
  }

  img {
    width: 30%;
    border-radius: 0.5rem;
  }

  p {
    font-size: 1.6rem;
    color: $color-grey-2;
    line-height: 2;
  }
}

////////////////////////////////////////////////////
//********** IMAGE WITH HEADING SECTION *********//
/////////////////////////////////////////////////////

// .bg-img {
//   background-color: #454545;
//   background-repeat: no-repeat;
//   background-position: top 35% right -68px;
//   background-image: url(../../images/pattern/mitech-call-to-action-image-global.png);

//   &__text {
//     color: #fff;
//     text-align: center;
//     padding: 3rem 1.5rem;

//     h5 {
//       font-size: 1.8rem;
//     }
//   }
// }

//////////////////////////////////////////////////
//****** partner(brand logo) section *******//
//////////////////////////////////////////////////

// .partner {
//   height: 120px;

//   &__logo--container {
//     display: flex;
//     align-items: center;
//     width: 250%;
//     padding: 0 1.5rem;
//     margin-right: 3rem;
//     column-gap: 3rem;

//     img {
//       height: 80%;
//       padding: 0 1.5rem;
//     }
//   }
// }

///////////////////////////////
//****** contact section *******//
///////////////////////////////

// .contact {
//   &__wrapper {
//     max-width: 1200px;
//     margin: 0 auto;
//     width: 95%;
//     margin: 0 auto;
//     padding: 6rem 0;
//     display: flex;
//     flex-direction: column;

//     @media only screen and (min-width: 750px) and (max-width: 4000px) {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-evenly;
//       align-items: center;
//     }
//   }

//   &__title {
//     text-align: left;
//     padding: 0 1.5rem;
//     margin-bottom: 2rem;

//     @media only screen and (min-width: 750px) and (max-width: 4000px) {
//       width: 50%;
//       margin-bottom: 0;
//     }

//     h4 {
//       position: relative;
//       line-height: 1.4;
//       font-size: 2.4rem;
//       font-weight: 600;
//       padding-left: 3.4rem;

//       @media only screen and (min-width: 750px) and (max-width: 900px) {
//         font-size: 2.8rem;
//       }

//       @media only screen and (min-width: 900px) and (max-width: 4000px) {
//         font-size: 3rem;
//       }
//     }

//     h4::before {
//       content: "";
//       position: absolute;
//       top: 50%;
//       left: 0;
//       width: 4px;
//       height: 94%;
//       transform: translateY(-50%);
//       background-color: $color-brown-light;
//     }
//   }

//   &__bg-img {
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
//     background-color: #eff2f6;
//     background-image: url(../images/bg/home-infotechno-contact-bg.jpg);
//     background-size: cover;
//     background-repeat: no-repeat;
//   }

//   &__info {
//     text-align: center;
//     padding: 0 1.5rem;

//     @media only screen and (min-width: 750px) and (max-width: 4000px) {
//       display: flex;
//       justify-content: flex-end;
//       width: 50%;
//     }

//     &-icons {
//       font-size: 4rem;
//       color: $color-blue;
//     }

//     h6 {
//       font-size: 15px;
//       letter-spacing: 2px;
//       font-weight: 600;
//       text-transform: uppercase;
//       margin: 10px 0;
//     }

//     &-btn {
//       background-color: $color-brown-shade;
//       padding: 1rem 3rem;
//       width: 155px;
//       margin: 0 auto;
//       border-radius: 0.5rem;
//       font-weight: 600;
//       margin-top: 2rem;

//       a {
//         font-size: 1.8rem;
//         color: #fff;
//         text-decoration: none;
//       }
//     }
//   }
//   &__num {
//     color: $color-blue-dark;
//     text-decoration: none;
//     font-size: 2.4rem;
//     font-weight: 700;
//     margin-bottom: 1rem;
//     position: relative;

//     &::after {
//       content: "";
//       position: absolute;
//       bottom: -10px;
//       right: 0;
//       width: 0;
//       height: 1px;
//       background-color: $color-blue;
//       transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
//     }

//     &:hover:after {
//       left: 0;
//       width: 100%;
//       right: auto;
//     }
//   }
// }

///////////////////////////////
//****** footer section *******//
///////////////////////////////

// .footer {
//   padding: 8rem 0;
//   max-width: 1200px;
//   margin: 0 auto;

//   &__container {
//     width: 100%;
//     padding-left: 2rem;
//     padding-bottom: 1rem;

//     &-flex {
//       padding: 0 1.5rem;
//     }

//     @media only screen and (min-width: 770px) and (max-width: 4000px) {
//       margin: 0 auto;
//       width: 95%;
//       display: flex;
//       justify-content: space-between;
//     }

//     &-1,
//     &-2,
//     &-3 {
//       @media only screen and (min-width: 770px) and (max-width: 1440px) {
//         width: 20%;
//       }
//     }

//     &-3 {
//       grid-column: 1/2;
//       grid-row: 3/4;

//       @media only screen and (min-width: 380px) and (max-width: 770px) {
//         grid-column: 3/4;
//         grid-row: 1/2;
//       }
//     }

//     &--logo {
//       margin-bottom: 3rem;

//       img {
//         width: 230px;
//         height: 40px;
//       }
//     }
//   }

//   &__title {
//     margin-bottom: 2rem;
//     font-family: "CerebriSans";
//     font-weight: 700;
//     font-size: 1.8rem;
//     color: $color-brown;
//     line-height: 1.3;
//   }

//   &__list {
//     list-style: none;

//     @media only screen and (min-width: 770px) and (max-width: 1440px) {
//       display: flex;
//       flex-direction: column;
//     }

//     &--items {
//       margin-bottom: 1rem;
//       font-size: 1.5rem;
//       color: $color-grey-2;
//       font-weight: 400;
//     }
//   }

//   a {
//     text-decoration: none;
//     color: $color-grey-2;
//   }

//   .hover-on-link {
//     position: relative;

//     &:hover {
//       color: $color-brown-light;
//       transition: color 0.5s ease;
//     }

//     &::after {
//       transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
//       content: "";
//       position: absolute;
//       bottom: -10px;
//       right: 0;
//       width: 0;
//       height: 1px;
//       background-color: $color-brown-light;
//     }

//     &:hover:after {
//       left: 0;
//       width: 100%;
//       right: auto;
//     }
//   }

//   &__link {
//     display: grid;
//     width: 100%;
//     margin: 0 auto;
//     margin-bottom: 3rem;
//     text-align: left;
//     grid-template-rows: 12% 1fr 12% 12%;
//     grid-template-columns: 1fr 1fr;

//     @media only screen and (min-width: 320px) and (max-width: 380px) {
//       grid-template-rows: 15% 1fr 20%;
//       grid-template-columns: repeat(2, 1fr);
//     }

//     @media only screen and (min-width: 380px) and (max-width: 770px) {
//       grid-template-rows: 15% 1fr;
//       grid-template-columns: repeat(3, 1fr);
//     }

//     @media only screen and (min-width: 770px) and (max-width: 4000px) {
//       display: contents;
//     }

//     h6 {
//       padding: 0 2rem;
//       font-size: 1.8rem;
//       color: $color-grey-dark;
//       margin-bottom: 2rem;
//     }

//     .col-1 {
//       padding: 0 2rem;
//       grid-column: 1/2;
//       grid-row: 2/3;
//     }

//     .col-2 {
//       padding: 0 2rem;
//       grid-column: 2/3;
//       grid-row: 2/3;
//     }

//     .col-3 {
//       h6 {
//         grid-column: 1/2;
//         grid-row: 3/4;
//       }
//       padding: 0 2rem;
//       grid-column: 1/2;
//       grid-row: 4/5;
//     }
//   }

//   .copyright {
//     width: 80%;
//     text-align: center;
//     font-size: 1.5rem;
//     color: $color-grey-2;
//     margin: 0 auto 2rem auto;

//     @media only screen and (min-width: 320px) and (max-width: 770px) {
//       padding: 1rem;
//       width: 100%;
//       text-align: center;
//     }

//     @media only screen and (min-width: 770px) and (max-width: 1440px) {
//       width: 60%;
//       text-align: left;
//       padding: 0 1rem;
//       margin: 8px;
//     }

//     &__link {
//       color: $color-red;
//     }
//   }

//   &__icons-wrapper {
//     display: inline-flex;
//     text-align: center;
//     column-gap: 1.5rem;

//     @media only screen and (min-width: 320px) and (max-width: 770px) {
//       column-gap: 0;
//     }

//     .icon {
//       display: flex;
//       flex-direction: column;
//       transform: translateY(-50px);

//       &:hover .tooltip {
//         opacity: 1;
//       }
//     }

//     .tooltip {
//       background-color: $color-blue;
//       color: #fff;
//       font-weight: 500;
//       padding: 0.5rem 1rem;
//       border-radius: 1rem;
//       font-size: 1.6rem;
//       box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
//       margin-bottom: 0.4rem;
//       position: relative;
//       opacity: 0;
//       transition: all 0.3s ease-in;

//       &:before {
//         content: "";
//         display: block;
//         width: 1.2rem;
//         height: 1.2rem;
//         background-color: $color-blue;
//         position: absolute;
//         bottom: -5px;
//         left: 50%;
//         transform: translateX(-50%) rotate(45deg);
//       }
//     }

//     @media only screen and (min-width: 320px) and (max-width: 770px) {
//       width: 100%;
//       justify-content: center;
//     }

//     @media only screen and (min-width: 770px) and (max-width: 1440px) {
//       width: 40%;
//       justify-content: flex-end;
//     }

//     i {
//       font-size: 1.8rem;
//       padding: 1.5rem 1.8rem;
//       color: $color-grey-2;
//       border: 1px solid $color-grey-light;
//       border-radius: 50%;
//       transition: all 0.7s ease-in;
//       margin: 8px;

//       &:hover {
//         color: white;
//         background-color: $color-blue;
//         transition: all 0.7s ease-in;
//       }
//     }
//   }

//   &__bottom-wrapper {
//     display: block;
//     padding: 0 2rem;

//     @media only screen and (min-width: 770px) and (max-width: 4000px) {
//       display: flex;
//     }
//   }
// }
